In [1]:
import pandas as pd

In [5]:
file = pd.read_csv("Resources/budget_data.csv")

In [7]:
file.tail()

        Date  Profit/Losses
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099